h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
  font-family: Source Sans Pro, basic-sans, sans-serif;
  font-weight: lighter;
}

.h1 {
  font-size: 10rem;
}

.h2 {
  font-size: 8rem;
}

.h3 {
  font-size: 6rem;
}

.h4 {
  font-size: 4rem;
}

.h5 {
  font-size: 3rem;
}
