.content-container {
  padding: 2rem 5rem;
  width: 100%;
}

.gc-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 2.4rem;
  margin: 0 auto;
  clear: both;
}

.gc-section {
  overflow: hidden;
  display: block;
  margin: 0 auto;
  clear: both;
}